APP_NAME=InstitutoClans
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://api.institutoclans.internal:81

LOG_CHANNEL=stack
LOG_LEVEL=error

# PostgreSQL local del servidor Ubuntu
# host.docker.internal permite que el contenedor se conecte al host
DB_CONNECTION=pgsql
DB_HOST=host.docker.internal
DB_PORT=5432
DB_DATABASE=instituto_clans
DB_USERNAME=postgres
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
